.pb_codeview{

  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  top:0;
  left:0;
  background: rgba(0,0,0,0.7);
  padding: 2% 2% 2% 2%;
  width: 100%;
  overflow: hidden;

  &.pb_overflow{

    overflow: auto;

  }

  #pb_code_editor, textarea{

    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 85vh;
    border: 0;
    padding: 5px;
    font-family: Courier;
    font-size: 12pt;
    resize: none;


    &:focus {
    outline: 0 solid transparent;
    }
  }
  textarea{
    background-color: rgba(255,255,255,0.9);
  }

  .pb_href, .pb_save, .pb_iframe, .pb_clear_page, .pb_menu_item{

      background-color: rgba(255,255,255,1);
      padding: 30px;

      select, input{

        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
        width: 80%;
        height: 50px;
        text-align: center;
        font-family: Courier;
        background-color: white;
          &:focus {
            outline: 0 solid transparent;
          }

      }

      input{

          border:0;
          border-bottom: 1px dotted orange;
      }






  label{
    display: block;
    margin: 0 auto;

    text-align: center;
  }

}

.pb_icons{

  background-color: rgba(255,255,255,1);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;

  a{
    color:grey;
    text-decoration: none;

    &:hover{
      color: red;
    }
    i{
      margin: 5px;

      display: block;
      flex: auto;
      text-align: center;
      font-size: 2em;
    }
  }
}

.pb_imgs, .pb_embedcode{

  background-color: rgba(255,255,255,1);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;


  text-align: center;
  button, .pb_embedcode_item{
    background: transparent;
    padding: 20px;
    border: 1px solid black;
    margin: 5px;
    display: block;
    flex: auto;

    text-align: center;
    width: 100px;
    height: 100px;
    cursor: zoom-in;

    &:focus {
      outline: 0 solid transparent;
    }
    &:hover{
      background: lightgrey;
    }

    &.pb_active{
      border-color: red;
      color: red;
    }
  }
  .pb_embedcode_item{
    cursor: pointer;
  }
  a{

    margin: 5px;

    display: block;
    flex: auto;
    text-align: center;

      img{
        border: 1px solid lightgrey;
        padding: 4px;
        width: 100px;
        height: 100px;
        opacity: 0.7;
        transition: all 0.1s ease-out;

        &:hover{
          opacity: 1;
          border: 1px solid green;
          box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
          height: auto;
        }
      }
  }
}

  button.save, button.close, button.delete{
    clear: both;
    width: 75%;
    padding: 10px 5px;
    background-color: lightgreen;
    color: #000;
    border: 0;
    font-family: Courier;
  }

  button.clear{
    display: block;
    float:right;
    background: transparent;
    border:0;
    color:red;

  }
  button.close, button.delete{
    background-color: lightgrey;
    width: 25%;
  }
}
