.pb_editor{

  position: fixed;
  top: 0;
  left: 0;

  width: 30px;
  transition: left 0.3s ease-out;
  background-color: lightgrey;
  padding: 10px 0 0 0;
  margin: 0;


    a{

      display: block;
      width: 30px;
      height: 30px;
      background-color: orange;
      padding: 10px 0;
      text-align: center;
      cursor: pointer;
      color: darken(orange, 30);
      text-decoration: none;

    &:hover{

      background-color: darken(orange, 10);
    }

  }
  &.pb_hide{

    left: -40px;

  }

  &.pb_show{

    left: 0;

  }

}

.pb_edit_item{

  border: 1px solid red;
  transition: all 0.3s ease-out;
  cursor: crosshair;
}

.pb_code_edit{
  display: block;
  text-align:center;
  border: 1px solid red;
  padding: 5px;
  transition: all 0.3s ease-out;
  cursor: crosshair;
  margin-bottom: 20px;
  color: #000;
  background-color: white;
  text-decoration: none;
}
