.pb_manager_container {


  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;


  .pb_manager_menu{


    background-color: grey;
    margin: 0 auto;
    padding: 0 0 5px 0;
    display: block;
    width: 80px;
    text-align: center;
    color: white;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;

    box-shadow: 0px 5px 15px 0px  rgba(0,0,0,0.2);
    &:after{

      content:"...";

    }
  }
  .pb_manager {
      box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.2);
    max-height: 80vh;
    overflow: auto;
    cursor: pointer;
    list-style-type: none;
    margin: 0;
    padding: 0;

    width: 100%;
    background-color: grey;
    color: white;
    padding: 20px;

    a {
      color: white;
      text-decoration: none;
    }

    li {
      padding: 10px;
      background-color: darkgrey;
      margin-bottom: 5px;

      &:before {
        content: ">";
        font-weight: bold;
        margin-right: 5px;
      }

    &.pb_hide{

      display: none;
    }
    &.filter{

      background-color: darken(darkgrey, 10);
      input{
        width: 100%;
        text-align: center;
        font-size: 1.3em;
        padding: 8px;
        background-color: transparent;
        border:0;
        border-bottom:2px solid #fff;
        color: #fff;
        font-family: Courier;
        font-weight: bold;
        &::placeholder{
          color: #fff;
          font-weight: normal;
        }
        &:focus{
          outline: none;
        }
      }
      &:before {
        content: "";
        font-weight: bold;
        margin-right: 0;
      }
    }
  }
    ul {
      display: none;
      list-style-type: none;
    }

    ul.pb_show {
      display: block;
    }

    li.pb_select {
      &:before {
        color: "orange";
      }
    }
  }
}
