.pb_menu_designer{

  padding: 20px;
  select{
    padding: 10px;
    background: white;
  }
  .pb_back{
    padding: 10px;
    background: white;
    color: #000;
    text-decoration: none;
  }
  .pb_add_item{
    background-color: grey;
    padding: 7px;
    display: inline-block;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 10px;
  }

  .pb_menu_editor {
    margin-top: 20px;

    ul {


  padding: 0;
  padding-left: 20px;
  margin: 0;

  & > li{
    list-style-type: none;
    padding: 5px;

    display: block;

    border: 0;
    outline: 0;

    & span{
      padding: 5px;
      background-color: white;
    }
    & span.pb_handle{
      cursor: pointer;
      border: 1px solid black;
      border-right: 0;
    }

    & span.pb_title, & span.pb_mover, & span.pb_edit,  & span.pb_delete{
      display: inline-block;
      border: 1px solid black;
      border-left: 0;
      cursor: pointer;
    }
    & span.pb_title{
      font-weight: bold;
    }
  }
}
}
}
