$background_color: #bbb;


.pb_menu{

  position: fixed;
  width: 200px;
  right: -200px;
  top:0;
  background-color: $background_color;
  height: 100vh;
  padding: 10px;
  transition: right 0.3s ease-in;
  border: 1px solid darken( $background_color, 20 );

  .pb_menu_area{

    overflow-y: scroll;
    height: 95%;

  }

  .pb_menu_area_blocks{

    padding:0;
    margin:0;
    list-style-type: none;

    & li{

      margin: 10px 0;

      &:focus {
      outline: 0 solid transparent;
      }

      & .pb_tags a{

        font-size: 8pt;
        color: white;
        cursor: pointer;
        text-decoration: none;
        margin-right: 3px;
        padding: 0 3px;
        background-color: #42a5f5;
        border-radius: 3px;
        font-weight: bold;
        text-transform: uppercase;

        &:focus {
        outline: 0 solid transparent;
        }
      }

      & img{

        width: 95%;
        cursor: move;
      }

      &.pb_hide{
        display: none;
      }
    }
  }

  .pb_menu_arrow{
    position: absolute;
    display: block;
    top: 100px;
    margin-left: -40px;
    width: 30px;
    height: 50px;
    padding: 13px 6px;
    box-sizing: border-box;
    background-color: $background_color;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: courier;
    font-size: 16pt;
    border: 1px solid darken( $background_color, 20 );
    border-right: 0;
    cursor: pointer;
    z-index: 2;

    &:before{

      content: "<";

    }
  }

  &.pb_menu_active{

    background-color: $background_color;
    right: 0;

    .pb_menu_arrow:before{
        content: ">";
    }
  }
}
