@font-face {
	font-family: "pb_font";
	src: url('../fonts/pb_font.eot');
	src: url('../fonts/pb_font.eot?#iefix') format('eot'),
		url('../fonts/pb_font.woff2') format('woff2'),
		url('../fonts/pb_font.woff') format('woff'),
		url('../fonts/pb_font.ttf') format('truetype'),
		url('../fonts/pb_font.svg#pb_font') format('svg');
}

.pb_font:before {
	font-family: "pb_font";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.pb_font-b:before {
	content: "\E001";
}

.pb_font-code:before {
	content: "\E002";
}

.pb_font-demo:before {
	content: "\E003";
}

.pb_font-demo2:before {
	content: "\E004";
}

.pb_font-h1:before {
	content: "\E005";
}

.pb_font-h2:before {
	content: "\E006";
}

.pb_font-h3:before {
	content: "\E007";
}

.pb_font-h4:before {
	content: "\E008";
}

.pb_font-i:before {
	content: "\E009";
}

.pb_font-img:before {
	content: "\E00A";
}

.pb_font-p:before {
	content: "\E00B";
}

.pb_font-redo:before {
	content: "\E00C";
}

.pb_font-trash:before {
	content: "\E00D";
}

.pb_font-u:before {
	content: "\E00E";
}

.pb_font-undo:before {
	content: "\E00F";
}

.pb_font-updown:before {
	content: "\E010";
}
