.pb_save_menu{

  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: green;
  border-radius: 50%;
  font-size: 20pt;
  text-align: center;

  transition: all 0.1s ease-out;

  &:before{
    content: "...";
    color: white;


  }

  &:hover{
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);

    transform: scale(1.2);
    cursor: pointer;
  }

  &.pb_save_menu_hide{

    display: none;
  }
}

.pb_virtual_dom{
  display: none;
}
