body{

  padding:0;
  margin:0;
}

.pb_stage{

  list-style: none;
  width: 100%;
  height: 100vh;
  background-color: white;
  padding:0;
  margin: 0;

  

  &:focus {
  outline: 0 solid transparent;
  }

  li[contenteditable]{

    .pb_txt{
      cursor: pointer;
    }

    .pb_iframe_edit{

      background-color: black;
      text-decoration: none;
      color: white;
      padding: 2px;
      font-size: 9pt;
      display: inline-block;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      cursor: pointer;
      transition: all 0.1s ease-out;

      &:hover{
          font-size: 12pt;
          padding: 5px;
      }
    }

    padding: 5px;

    &.pb_li_active.pb_fixed:before{
      content: "fix";
    }

    &.pb_li_active:before{

      position: absolute;

      height: auto;
      width: 50px;

      padding: 10px;
      right: 0;
      box-sizing: border-box;
      text-align: center;
      background-color: lightgrey;
      color: black;
      //border-top-left-radius: 3px;
      //border-bottom-left-radius: 3px;
      font-family: "pb_font";
      font-size: 12pt;
    		-webkit-font-smoothing: antialiased;
    		-moz-osx-font-smoothing: grayscale;
    	font-style: normal;
    	font-variant: normal;
    	font-weight: normal;
    	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
    	text-decoration: none;
    	text-transform: none;
      content: "\E010";
      cursor: move;
      z-index: 2;
      &:hover{
        background-color: darken(lightgrey, 10);
      }
    }

    &:focus {
    outline: 1px solid orange;
    }

    &:hover {
    outline: 1px solid lightgrey;
    }
  }

  img[data-placeholder]{

    width: 100%;
    cursor: move;
  }

  h1, h2, h3, h4, h5, h6{
    margin: 0;
  }

}
