@font-face {
  font-family: "pb_font";
  src: url("../fonts/pb_font.eot");
  src: url("../fonts/pb_font.eot?#iefix") format("eot"), url("../fonts/pb_font.woff2") format("woff2"), url("../fonts/pb_font.woff") format("woff"), url("../fonts/pb_font.ttf") format("truetype"), url("../fonts/pb_font.svg#pb_font") format("svg"); }
.pb_font:before {
  font-family: "pb_font";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none; }

.pb_font-b:before {
  content: "\E001"; }

.pb_font-code:before {
  content: "\E002"; }

.pb_font-demo:before {
  content: "\E003"; }

.pb_font-demo2:before {
  content: "\E004"; }

.pb_font-h1:before {
  content: "\E005"; }

.pb_font-h2:before {
  content: "\E006"; }

.pb_font-h3:before {
  content: "\E007"; }

.pb_font-h4:before {
  content: "\E008"; }

.pb_font-i:before {
  content: "\E009"; }

.pb_font-img:before {
  content: "\E00A"; }

.pb_font-p:before {
  content: "\E00B"; }

.pb_font-redo:before {
  content: "\E00C"; }

.pb_font-trash:before {
  content: "\E00D"; }

.pb_font-u:before {
  content: "\E00E"; }

.pb_font-undo:before {
  content: "\E00F"; }

.pb_font-updown:before {
  content: "\E010"; }

.bounceIn {
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }
@-webkit-keyframes bounceIn {
  20%, 40%, 60%, 80%, from, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }
@keyframes bounceIn {
  20%, 40%, 60%, 80%, from, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
            transform: scale3d(0.97, 0.97, 0.97); }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }
.pb_save_menu {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: green;
  border-radius: 50%;
  font-size: 20pt;
  text-align: center;
  transition: all 0.1s ease-out; }
  .pb_save_menu:before {
    content: "...";
    color: white; }
  .pb_save_menu:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    cursor: pointer; }
  .pb_save_menu.pb_save_menu_hide {
    display: none; }

.pb_virtual_dom {
  display: none; }

.spinme-right {
  display: block;
  padding: 15px 20px;
  float: right;
  font-size: 14px;
  border-radius: 30px;
  line-height: 1.25em;
  font-weight: 100;
  opacity: 0.2; }

.spinme-left {
  display: inline-block;
  padding: 15px 20px;
  font-size: 14px;
  color: #ccc;
  border-radius: 30px;
  line-height: 1.25em;
  font-weight: 100;
  opacity: 0.2; }

.spinner {
  margin: 0;
  width: 30px;
  text-align: center; }

.spinner > div {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  background: black; }

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
.pb_codeview {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 2% 2% 2% 2%;
  width: 100%;
  overflow: hidden; }
  .pb_codeview.pb_overflow {
    overflow: auto; }
  .pb_codeview #pb_code_editor, .pb_codeview textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 85vh;
    border: 0;
    padding: 5px;
    font-family: Courier;
    font-size: 12pt;
    resize: none; }
    .pb_codeview #pb_code_editor:focus, .pb_codeview textarea:focus {
      outline: 0 solid transparent; }
  .pb_codeview textarea {
    background-color: rgba(255, 255, 255, 0.9); }
  .pb_codeview .pb_href, .pb_codeview .pb_save, .pb_codeview .pb_iframe, .pb_codeview .pb_clear_page, .pb_codeview .pb_menu_item {
    background-color: white;
    padding: 30px; }
    .pb_codeview .pb_href select, .pb_codeview .pb_href input, .pb_codeview .pb_save select, .pb_codeview .pb_save input, .pb_codeview .pb_iframe select, .pb_codeview .pb_iframe input, .pb_codeview .pb_clear_page select, .pb_codeview .pb_clear_page input, .pb_codeview .pb_menu_item select, .pb_codeview .pb_menu_item input {
      display: block;
      margin: 0 auto;
      margin-bottom: 30px;
      width: 80%;
      height: 50px;
      text-align: center;
      font-family: Courier;
      background-color: white; }
      .pb_codeview .pb_href select:focus, .pb_codeview .pb_href input:focus, .pb_codeview .pb_save select:focus, .pb_codeview .pb_save input:focus, .pb_codeview .pb_iframe select:focus, .pb_codeview .pb_iframe input:focus, .pb_codeview .pb_clear_page select:focus, .pb_codeview .pb_clear_page input:focus, .pb_codeview .pb_menu_item select:focus, .pb_codeview .pb_menu_item input:focus {
        outline: 0 solid transparent; }
    .pb_codeview .pb_href input, .pb_codeview .pb_save input, .pb_codeview .pb_iframe input, .pb_codeview .pb_clear_page input, .pb_codeview .pb_menu_item input {
      border: 0;
      border-bottom: 1px dotted orange; }
    .pb_codeview .pb_href label, .pb_codeview .pb_save label, .pb_codeview .pb_iframe label, .pb_codeview .pb_clear_page label, .pb_codeview .pb_menu_item label {
      display: block;
      margin: 0 auto;
      text-align: center; }
  .pb_codeview .pb_icons {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start; }
    .pb_codeview .pb_icons a {
      color: grey;
      text-decoration: none; }
      .pb_codeview .pb_icons a:hover {
        color: red; }
      .pb_codeview .pb_icons a i {
        margin: 5px;
        display: block;
        flex: auto;
        text-align: center;
        font-size: 2em; }
  .pb_codeview .pb_imgs, .pb_codeview .pb_embedcode {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    text-align: center; }
    .pb_codeview .pb_imgs button, .pb_codeview .pb_imgs .pb_embedcode_item, .pb_codeview .pb_embedcode button, .pb_codeview .pb_embedcode .pb_embedcode_item {
      background: transparent;
      padding: 20px;
      border: 1px solid black;
      margin: 5px;
      display: block;
      flex: auto;
      text-align: center;
      width: 100px;
      height: 100px;
      cursor: zoom-in; }
      .pb_codeview .pb_imgs button:focus, .pb_codeview .pb_imgs .pb_embedcode_item:focus, .pb_codeview .pb_embedcode button:focus, .pb_codeview .pb_embedcode .pb_embedcode_item:focus {
        outline: 0 solid transparent; }
      .pb_codeview .pb_imgs button:hover, .pb_codeview .pb_imgs .pb_embedcode_item:hover, .pb_codeview .pb_embedcode button:hover, .pb_codeview .pb_embedcode .pb_embedcode_item:hover {
        background: lightgrey; }
      .pb_codeview .pb_imgs button.pb_active, .pb_codeview .pb_imgs .pb_embedcode_item.pb_active, .pb_codeview .pb_embedcode button.pb_active, .pb_codeview .pb_embedcode .pb_embedcode_item.pb_active {
        border-color: red;
        color: red; }
    .pb_codeview .pb_imgs .pb_embedcode_item, .pb_codeview .pb_embedcode .pb_embedcode_item {
      cursor: pointer; }
    .pb_codeview .pb_imgs a, .pb_codeview .pb_embedcode a {
      margin: 5px;
      display: block;
      flex: auto;
      text-align: center; }
      .pb_codeview .pb_imgs a img, .pb_codeview .pb_embedcode a img {
        border: 1px solid lightgrey;
        padding: 4px;
        width: 100px;
        height: 100px;
        opacity: 0.7;
        transition: all 0.1s ease-out; }
        .pb_codeview .pb_imgs a img:hover, .pb_codeview .pb_embedcode a img:hover {
          opacity: 1;
          border: 1px solid green;
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
          height: auto; }
  .pb_codeview button.save, .pb_codeview button.close, .pb_codeview button.delete {
    clear: both;
    width: 75%;
    padding: 10px 5px;
    background-color: lightgreen;
    color: #000;
    border: 0;
    font-family: Courier; }
  .pb_codeview button.clear {
    display: block;
    float: right;
    background: transparent;
    border: 0;
    color: red; }
  .pb_codeview button.close, .pb_codeview button.delete {
    background-color: lightgrey;
    width: 25%; }

.pb_editor {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  transition: left 0.3s ease-out;
  background-color: lightgrey;
  padding: 10px 0 0 0;
  margin: 0; }
  .pb_editor a {
    display: block;
    width: 30px;
    height: 30px;
    background-color: orange;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    color: #664200;
    text-decoration: none; }
    .pb_editor a:hover {
      background-color: #cc8400; }
  .pb_editor.pb_hide {
    left: -40px; }
  .pb_editor.pb_show {
    left: 0; }

.pb_edit_item {
  border: 1px solid red;
  transition: all 0.3s ease-out;
  cursor: crosshair; }

.pb_code_edit {
  display: block;
  text-align: center;
  border: 1px solid red;
  padding: 5px;
  transition: all 0.3s ease-out;
  cursor: crosshair;
  margin-bottom: 20px;
  color: #000;
  background-color: white;
  text-decoration: none; }

.pb_menu {
  position: fixed;
  width: 200px;
  right: -200px;
  top: 0;
  background-color: #bbb;
  height: 100vh;
  padding: 10px;
  transition: right 0.3s ease-in;
  border: 1px solid #888888; }
  .pb_menu .pb_menu_area {
    overflow-y: scroll;
    height: 95%; }
  .pb_menu .pb_menu_area_blocks {
    padding: 0;
    margin: 0;
    list-style-type: none; }
    .pb_menu .pb_menu_area_blocks li {
      margin: 10px 0; }
      .pb_menu .pb_menu_area_blocks li:focus {
        outline: 0 solid transparent; }
      .pb_menu .pb_menu_area_blocks li .pb_tags a {
        font-size: 8pt;
        color: white;
        cursor: pointer;
        text-decoration: none;
        margin-right: 3px;
        padding: 0 3px;
        background-color: #42a5f5;
        border-radius: 3px;
        font-weight: bold;
        text-transform: uppercase; }
        .pb_menu .pb_menu_area_blocks li .pb_tags a:focus {
          outline: 0 solid transparent; }
      .pb_menu .pb_menu_area_blocks li img {
        width: 95%;
        cursor: move; }
      .pb_menu .pb_menu_area_blocks li.pb_hide {
        display: none; }
  .pb_menu .pb_menu_arrow {
    position: absolute;
    display: block;
    top: 100px;
    margin-left: -40px;
    width: 30px;
    height: 50px;
    padding: 13px 6px;
    box-sizing: border-box;
    background-color: #bbb;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: courier;
    font-size: 16pt;
    border: 1px solid #888888;
    border-right: 0;
    cursor: pointer;
    z-index: 2; }
    .pb_menu .pb_menu_arrow:before {
      content: "<"; }
  .pb_menu.pb_menu_active {
    background-color: #bbb;
    right: 0; }
    .pb_menu.pb_menu_active .pb_menu_arrow:before {
      content: ">"; }

body {
  padding: 0;
  margin: 0; }

.pb_stage {
  list-style: none;
  width: 100%;
  height: 100vh;
  background-color: white;
  padding: 0;
  margin: 0; }
  .pb_stage:focus {
    outline: 0 solid transparent; }
  .pb_stage li[contenteditable] {
    padding: 5px; }
    .pb_stage li[contenteditable] .pb_txt {
      cursor: pointer; }
    .pb_stage li[contenteditable] .pb_iframe_edit {
      background-color: black;
      text-decoration: none;
      color: white;
      padding: 2px;
      font-size: 9pt;
      display: inline-block;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      cursor: pointer;
      transition: all 0.1s ease-out; }
      .pb_stage li[contenteditable] .pb_iframe_edit:hover {
        font-size: 12pt;
        padding: 5px; }
    .pb_stage li[contenteditable].pb_li_active.pb_fixed:before {
      content: "fix"; }
    .pb_stage li[contenteditable].pb_li_active:before {
      position: absolute;
      height: auto;
      width: 50px;
      padding: 10px;
      right: 0;
      box-sizing: border-box;
      text-align: center;
      background-color: lightgrey;
      color: black;
      font-family: "pb_font";
      font-size: 12pt;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
      text-decoration: none;
      text-transform: none;
      content: "\E010";
      cursor: move;
      z-index: 2; }
      .pb_stage li[contenteditable].pb_li_active:before:hover {
        background-color: #bababa; }
    .pb_stage li[contenteditable]:focus {
      outline: 1px solid orange; }
    .pb_stage li[contenteditable]:hover {
      outline: 1px solid lightgrey; }
  .pb_stage img[data-placeholder] {
    width: 100%;
    cursor: move; }
  .pb_stage h1, .pb_stage h2, .pb_stage h3, .pb_stage h4, .pb_stage h5, .pb_stage h6 {
    margin: 0; }

.pb_manager_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2; }
  .pb_manager_container .pb_manager_menu {
    background-color: grey;
    margin: 0 auto;
    padding: 0 0 5px 0;
    display: block;
    width: 80px;
    text-align: center;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2); }
    .pb_manager_container .pb_manager_menu:after {
      content: "..."; }
  .pb_manager_container .pb_manager {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
    max-height: 80vh;
    overflow: auto;
    cursor: pointer;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: grey;
    color: white;
    padding: 20px; }
    .pb_manager_container .pb_manager a {
      color: white;
      text-decoration: none; }
    .pb_manager_container .pb_manager li {
      padding: 10px;
      background-color: darkgrey;
      margin-bottom: 5px; }
      .pb_manager_container .pb_manager li:before {
        content: ">";
        font-weight: bold;
        margin-right: 5px; }
      .pb_manager_container .pb_manager li.pb_hide {
        display: none; }
      .pb_manager_container .pb_manager li.filter {
        background-color: #909090; }
        .pb_manager_container .pb_manager li.filter input {
          width: 100%;
          text-align: center;
          font-size: 1.3em;
          padding: 8px;
          background-color: transparent;
          border: 0;
          border-bottom: 2px solid #fff;
          color: #fff;
          font-family: Courier;
          font-weight: bold; }
          .pb_manager_container .pb_manager li.filter input::-webkit-input-placeholder {
            color: #fff;
            font-weight: normal; }
          .pb_manager_container .pb_manager li.filter input:-ms-input-placeholder {
            color: #fff;
            font-weight: normal; }
          .pb_manager_container .pb_manager li.filter input::-ms-input-placeholder {
            color: #fff;
            font-weight: normal; }
          .pb_manager_container .pb_manager li.filter input::placeholder {
            color: #fff;
            font-weight: normal; }
          .pb_manager_container .pb_manager li.filter input:focus {
            outline: none; }
        .pb_manager_container .pb_manager li.filter:before {
          content: "";
          font-weight: bold;
          margin-right: 0; }
    .pb_manager_container .pb_manager ul {
      display: none;
      list-style-type: none; }
    .pb_manager_container .pb_manager ul.pb_show {
      display: block; }
    .pb_manager_container .pb_manager li.pb_select:before {
      color: "orange"; }

.pb_menu_designer {
  padding: 20px; }
  .pb_menu_designer select {
    padding: 10px;
    background: white; }
  .pb_menu_designer .pb_back {
    padding: 10px;
    background: white;
    color: #000;
    text-decoration: none; }
  .pb_menu_designer .pb_add_item {
    background-color: grey;
    padding: 7px;
    display: inline-block;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 10px; }
  .pb_menu_designer .pb_menu_editor {
    margin-top: 20px; }
    .pb_menu_designer .pb_menu_editor ul {
      padding: 0;
      padding-left: 20px;
      margin: 0; }
      .pb_menu_designer .pb_menu_editor ul > li {
        list-style-type: none;
        padding: 5px;
        display: block;
        border: 0;
        outline: 0; }
        .pb_menu_designer .pb_menu_editor ul > li span {
          padding: 5px;
          background-color: white; }
        .pb_menu_designer .pb_menu_editor ul > li span.pb_handle {
          cursor: pointer;
          border: 1px solid black;
          border-right: 0; }
        .pb_menu_designer .pb_menu_editor ul > li span.pb_title, .pb_menu_designer .pb_menu_editor ul > li span.pb_mover, .pb_menu_designer .pb_menu_editor ul > li span.pb_edit, .pb_menu_designer .pb_menu_editor ul > li span.pb_delete {
          display: inline-block;
          border: 1px solid black;
          border-left: 0;
          cursor: pointer; }
        .pb_menu_designer .pb_menu_editor ul > li span.pb_title {
          font-weight: bold; }