<div class="flix-container">
  <div class="flix-row" style=" padding: 50px 0;">

    <div class="flix-col-md-12 flix-text-center flix-form-group">
      <h1 class="flix-html-h1">Lorem ipsum</h1>
    </div>

    <div class="flix-col-md-1">
      <i class="flix-glyphicon flix-glyphicon-heart-empty x2"></i>
    </div>

    <div class="flix-col-md-5">
      <b>Lorem ipsum</b>
      <p class="flix-html-html pb_txt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
    </div>

    <div class="flix-col-md-1">
      <i class="flix-glyphicon flix-glyphicon-microphone x2"></i>
    </div>

    <div class="flix-col-md-5">
      <b>Lorem ipsum</b>
      <p class="flix-html-html pb_txt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
    </div>

    <div class="flix-col-md-1">
      <i class="flix-glyphicon flix-glyphicon-headphones x2"></i>
    </div>

    <div class="flix-col-md-5">
      <b>Lorem ipsum</b>
      <p class="flix-html-html pb_txt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
    </div>

    <div class="flix-col-md-1">
      <i class="flix-glyphicon flix-glyphicon-film x2"></i>
    </div>

    <div class="flix-col-md-5">
      <b>Lorem ipsum</b>
      <p class="flix-html-html pb_txt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
    </div>

    <div class="flix-clearfix"></div>

  </div>
</div>
