<div class="flix-container-fluid">
  <div class="flix-row"  style="padding: 50px 0;">

    <div class="flix-col-md-12 flix-text-center flix-form-group">
      <h1 class="flix-html-h1">Lorem ipsum</h1>
    </div>

    <div class="flix-col-md-8 flix-col-md-flix-offset-2">
      <div class="pb_code"></div>
    </div>


    <div class="flix-clearfix"></div>

  </div>
</div>
