<div class="flix-container-fluid">
  <div class="flix-row" style="padding: 50px 0;">

    <div class="flix-col-md-12 flix-text-center" style="margin-bottom: 20px;">


      <h1 class="flix-html-h1 flix-form-group ">Lorem ipsum</h1>

      <p class="flix-html-html pb_txt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <br />At vero eos et accusam et justo duo dolores et ea rebum.</p>


    </div>

    <div class="flix-col-md-2 flix-text-center flix-col-md-flix-offset-1">
      <i class="flix-glyphicon flix-glyphicon-shopping-bag x2"></i>
      <p class="flix-html-html pb_txt">Lorem ipsum dolor</p>
    </div>

    <div class="flix-col-md-2 flix-text-center">
      <i class="flix-glyphicon flix-glyphicon-roundabout x2"></i>
      <p class="flix-html-html pb_txt">Lorem ipsum dolor</p>
    </div>

    <div class="flix-col-md-2 flix-text-center">
      <i class="flix-glyphicon flix-glyphicon-globe x2"></i>
      <p class="flix-html-html pb_txt">Lorem ipsum dolor</p>
    </div>

    <div class="flix-col-md-2 flix-text-center">
      <i class="flix-glyphicon flix-glyphicon-heart x2"></i>
      <p class="flix-html-html pb_txt">Lorem ipsum dolor</p>
    </div>

    <div class="flix-col-md-2 flix-text-center">
      <i class="flix-glyphicon flix-glyphicon-camera x2"></i>
      <p class="flix-html-html pb_txt">Lorem ipsum dolor</p>
    </div>
    <div class="flix-clearfix"></div>

  </div>
</div>
