<div class="flix-container-fluid">
  <div class="flix-row" style="margin: 30px 0 15px 0; padding: 30px 0 15px 0; background-color: #eee;">


    <div class="flix-col-md-8 flix-col-md-flix-offset-2">

      <div class="flix-col-md-12 flix-text-center flix-form-group">
        <h2 class="flix-html-h1">Lorem ipsum dolor sit amet</h2>
      </div>

      <div class="flix-col-md-4">

        <div class="flix-well flix-text-center">
          <div class="flix-html-h1 ">
            <span>&euro;</span> <span style="font-size: 2.5em;">29</span>
          </div>
          <div class="flix-html-h3">
            Lorem ipsum dolor sit
          </div>

          <p class="flix-html-html pb_txt">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et just.
          </p>

          <a href="#" class="flix-btn flix-btn-primary flix-btn-block">Lorem ipsum dolor</a>
        </div>

      </div>

      <div class="flix-col-md-4">

        <div class="flix-well flix-text-center">
          <div class="flix-html-h1 ">
            <span>&euro;</span> <span style="font-size: 2.5em;">59</span>
          </div>
          <div class="flix-html-h3">
            Lorem ipsum dolor sit
          </div>

          <p class="flix-html-html pb_txt">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et just.
          </p>

          <a href="#" class="flix-btn flix-btn-primary flix-btn-block">Lorem ipsum dolor</a>
        </div>

      </div>

      <div class="flix-col-md-4">

        <div class="flix-well flix-text-center">
          <div class="flix-html-h1 ">
            <span>&euro;</span> <span style="font-size: 2.5em;">89</span>
          </div>
          <div class="flix-html-h3">
            Lorem ipsum dolor sit
          </div>

          <p class="flix-html-html pb_txt">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et just.
          </p>

          <a href="#" class="flix-btn flix-btn-primary flix-btn-block">Lorem ipsum dolor</a>
        </div>

      </div>


    </div>
  </div>
</div>
