<div class="flix-container-fluid">
  <div class="flix-row" style="margin: 60px 0 30px 0;">


    <div class="flix-col-md-8 flix-col-md-flix-offset-2">

      <div class="flix-col-md-12 flix-text-center flix-form-group" style="margin-bottom: 40px;">
        <h1 class="flix-html-h1">Lorem ipsum dolor sit amet</h1>
      </div>

      <div class="flix-col-md-3">

        <div style="margin-bottom: 30px;">
          <span class="flix-html-h1" style="font-size: 4em;">1</span>
        </div>

        <p class="flix-html-html pb_txt">
          <i>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</i>
        </p>


      </div>

      <div class="flix-col-md-3">

        <div style="margin-bottom: 30px;">
          <span class="flix-html-h1" style="font-size: 4em;">2</span>
        </div>

        <p class="flix-html-html pb_txt">
          <i>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</i>
        </p>


      </div>

      <div class="flix-col-md-3">

        <div style="margin-bottom: 30px;">
          <span class="flix-html-h1" style="font-size: 4em;">3</span>
        </div>

        <p class="flix-html-html pb_txt">
          <i>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</i>
        </p>


      </div>

      <div class="flix-col-md-3">

        <div style="margin-bottom: 30px;">
          <span class="flix-html-h1" style="font-size: 4em;">4</span>
        </div>

        <p class="flix-html-html pb_txt">
          <i>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</i>
        </p>


      </div>

    </div>
  </div>
</div>
