<div class="flix-container-fluid">
  <div class="flix-row" style=" padding: 50px 0;">


    <div class="flix-col-md-1 flix-text-right">
      <i class="flix-glyphicon flix-glyphicon-ok x2"></i>
    </div>

    <div class="flix-col-md-3">
      <h3 class="flix-html-h3">Lorem ipsum</h3>
      <p class="flix-html-html pb_txt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    </div>

    <div class="flix-col-md-1 flix-text-right">
      <i class="flix-glyphicon flix-glyphicon-ok x2"></i>
    </div>

    <div class="flix-col-md-3">
      <h3 class="flix-html-h3">Lorem ipsum</h3>
      <p class="flix-html-html pb_txt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    </div>

    <div class="flix-col-md-1 flix-text-right">
      <i class="flix-glyphicon flix-glyphicon-ok x2"></i>
    </div>

    <div class="flix-col-md-3">
      <h3 class="flix-html-h3">Lorem ipsum</h3>
      <p class="flix-html-html pb_txt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    </div>


    <div class="flix-clearfix"></div>

  </div>
</div>
