<div class="flix-container-fluid">
  <div class="flix-row" style="margin: 30px 0 15px 0; padding: 30px 0 15px 0; background-color: #eee;">


    <div class="flix-col-md-8 flix-col-md-flix-offset-2">

      <div class="flix-col-md-12 flix-text-center flix-form-group">
        <h2 class="flix-html-h1">Lorem ipsum dolor sit amet</h2>
      </div>

      <div class="flix-col-md-5 flix-col-md-flix-offset-1">

        <div class="flix-well">
          <div class="flix-html-h3 flix-text-center">
            Lorem ipsum dolor sit
          </div>

          <div class="flix-html-h1 flix-text-center pb_txt">
            <span>&euro;</span> <span style="font-size: 2.5em;">29</span>
          </div>


          <ul class="flix-html-ul pb_txt">
            <li class="flix-html-li">
              Lorem ipsum dolor sit amet
            </li>
            <li class="flix-html-li">
              Lorem ipsum dolor sit amet
            </li>
            <li class="flix-html-li">
              Lorem ipsum dolor sit amet
            </li>
            <li class="flix-html-li">
              Lorem ipsum dolor sit amet
            </li>
            <li class="flix-html-li">
              Lorem ipsum dolor sit amet
            </li>

          </ul>

          <a href="#" class="flix-btn flix-btn-primary flix-btn-block">Lorem ipsum dolor</a>
        </div>

      </div>

      <div class="flix-col-md-5">

        <div class="flix-well">
          <div class="flix-html-h3 flix-text-center ">
            Lorem ipsum dolor sit
          </div>

          <div class="flix-html-h1 flix-text-center pb_txt">
            <span>&euro;</span> <span style="font-size: 2.5em;">39</span>
          </div>

          <ul class="flix-html-ul pb_txt">
            <li class="flix-html-li">
              Lorem ipsum dolor sit amet
            </li>
            <li class="flix-html-li">
              Lorem ipsum dolor sit amet
            </li>
            <li class="flix-html-li">
              Lorem ipsum dolor sit amet
            </li>
            <li class="flix-html-li">
              Lorem ipsum dolor sit amet
            </li>
            <li class="flix-html-li">
              Lorem ipsum dolor sit amet
            </li>
          </ul>

          <a href="#" class="flix-btn flix-btn-primary flix-btn-block">Lorem ipsum dolor</a>
        </div>

      </div>


    </div>
  </div>
</div>
