<div class="flix-container-fluid">
  <div class="flix-row" style="padding: 50px 0;">

    <div class="flix-col-md-12 flix-text-center" style="margin-bottom: 20px;">

      <h4 class="flix-html-h1 flix-form-group ">Lorem ipsum</h4>

    </div>

    <div class="flix-col-md-3 flix-text-center">
      <i class="flix-glyphicon flix-glyphicon-edit x2"></i>
      <p class="flix-html-html pb_txt">Lorem ipsum dolor</p>
    </div>

    <div class="flix-col-md-3 flix-text-center">
      <i class="flix-glyphicon flix-glyphicon-lightbulb x2"></i>
      <p class="flix-html-html pb_txt">Lorem ipsum dolor</p>
    </div>

    <div class="flix-col-md-3 flix-text-center">
      <i class="flix-glyphicon flix-glyphicon-camera x2"></i>
      <p class="flix-html-html pb_txt">Lorem ipsum dolor</p>
    </div>

    <div class="flix-col-md-3 flix-text-center">
      <i class="flix-glyphicon flix-glyphicon-heart-empty x2"></i>
      <p class="flix-html-html pb_txt">Lorem ipsum dolor</p>
    </div>


    <div class="flix-clearfix"></div>

  </div>
</div>
