<div class="flix-container-fluid">
  <div class="flix-row" style="margin: 40px 0;">

    <div class="flix-col-md-8 flix-col-md-flix-offset-2 flix-text-center">

      <i class="flix-glyphicon flix-glyphicon-leaf x3"></i>
      <p class="flix-html-html pb_txt">Lorem ipsum dolor sit amet</p>
      <h1 class="flix-html-h1">Lorem ipsum</h1>
      <p class="flix-html-html pb_txt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
        et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
      <a href="#" class="flix-btn flix-btn-primary">Lorem Ipsum</a>

    </div>

  </div>
</div>
