<div class="flix-container-fluid">
  <div class="flix-row"  style="padding: 50px 0;">

    <div class="flix-col-md-12 flix-text-center flix-form-group">
      <h1 class="flix-html-h1">Lorem ipsum</h1>
    </div>

    <div class="flix-col-md-6 flix-col-md-flix-offset-3">
      <div class="flix-embed-responsive flix-embed-responsive-16by9 flix-img-thumbnail">
        <iframe class="flix-embed-responsive-item" src="//www.youtube.com/embed/P5yHEKqx86U?rel=0" allowfullscreen></iframe>
      </div>
    </div>


    <div class="flix-clearfix"></div>

  </div>
</div>
