<div class="flix-container-fluid">
  <div class="flix-row" style="background-color: #eee;  padding: 50px 0;">

    <div class="flix-col-md-8 flix-col-md-flix-offset-2 flix-text-center">
      <div class="flix-well">


      <h2 class="flix-html-h2 flix-form-group ">Lorem ipsum</h2>
      <hr class="flix-html-hr" />

      <p class="flix-html-html pb_txt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <br /><br />At vero eos et accusam et justo duo dolores et ea rebum.</p>
      <a href="#" class="flix-btn flix-btn-default flix-btn-block">Lorem ipsum dolor</a>

    </div>


    <div class="flix-clearfix"></div>

  </div>
  </div>
</div>
