<div class="flix-container-fluid">
  <div class="flix-row" style="margin: 60px 0 30px 0;">


    <div class="flix-col-md-8 flix-col-md-flix-offset-2">

      <div class="flix-col-md-12 flix-text-center flix-form-group">
        <h1 class="flix-html-h1">Lorem ipsum dolor sit amet</h1>
      </div>

      <div class="flix-col-md-4">

        <div class="flix-text-center" style="margin-bottom: 30px;">
          <i class="flix-glyphicon flix-glyphicon-thumbs-up x3"></i>
        </div>

        <p class="flix-html-html pb_txt">
          <i>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et just.</i>
        </p>

        <p class="flix-html-html"><b>Lorem ipsum dolor sit amet</b></p>

      </div>

      <div class="flix-col-md-4">

        <div class="flix-text-center" style="margin-bottom: 30px;">
          <i class="flix-glyphicon flix-glyphicon-thumbs-up x3"></i>
        </div>

        <p class="flix-html-html pb_txt">
          <i>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et just.</i>
        </p>

        <p class="flix-html-html"><b>Lorem ipsum dolor sit amet</b></p>

      </div>

      <div class="flix-col-md-4">

        <div class="flix-text-center" style="margin-bottom: 30px;">
          <i class="flix-glyphicon flix-glyphicon-thumbs-up x3"></i>
        </div>

        <p class="flix-html-html pb_txt">
          <i>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et just.</i>
        </p>

        <p class="flix-html-html"><b>Lorem ipsum dolor sit amet</b></p>

      </div>
    </div>
  </div>
</div>
