<div class="flix-container-fluid">
  <div class="flix-row"  style="padding: 50px 0;">

    <div class="flix-col-md-12 flix-text-center flix-form-group">
      <h1 class="flix-html-h1">Lorem ipsum</h1>
      <p class="flix-html-html pb_txt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
    </div>

    <div class="flix-col-md-4 flix-col-md-flix-offset-2 flix-form-group">
      <div class="flix-embed-responsive flix-embed-responsive-4by3">
        <iframe class="flix-embed-responsive-item" src="//www.youtube.com/embed/P5yHEKqx86U?rel=0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="flix-col-md-4">
      <h3 class="flix-html-h3">Lorem ipsum dolor sit amet</h3>
      <p class="flix-html-html pb_txt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

      <a href="#" class="flix-btn flix-btn-default">Lorem</a>
      <a href="#" class="flix-btn flix-btn-primary">Lorem Ipsum</a>
    </div>




    <div class="flix-clearfix"></div>

  </div>
</div>
