<div class="flix-container-fluid">
  <div class="flix-row" style="margin: 60px 0 30px 0;">

    <div class="flix-col-md-12 flix-text-center">

      <a href="#" class="flix-btn flix-btn-lg flix-btn-primary">Lorem ipsum dolor</a>

    </div>

  </div>
</div>
