<div class="flix-container-fluid">
  <div class="flix-row" style="margin: 80px 0;">

    <div class="flix-col-md-4 flix-col-md-flix-offset-4 flix-col-xs-12" style="margin-bottom: 20px;">
      <div class="flix-col-xs-2 flix-col-md-flix-offset-1 flix-text-center"><i class="flix-glyphicon flix-glyphicon-star"></i></div>
      <div class="flix-col-xs-2 flix-text-center"><i class="flix-glyphicon flix-glyphicon-star"></i></div>
      <div class="flix-col-xs-2 flix-text-center"><i class="flix-glyphicon flix-glyphicon-star"></i></div>
      <div class="flix-col-xs-2 flix-text-center"><i class="flix-glyphicon flix-glyphicon-star"></i></div>
      <div class="flix-col-xs-2 flix-text-center"><i class="flix-glyphicon flix-glyphicon-star"></i></div>
    </div>

    <div class="flix-col-md-8 flix-col-md-flix-offset-2 flix-text-center">
      <h1 class="flix-html-h1">Lorem ipsum</h1>


      <p class="flix-html-html pb_txt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>

      <a href="#" class="flix-btn flix-btn-primary">Lorem Ipsum</a>

    </div>

  </div>
</div>
