<div class="flix-container-fluid">
  <div class="flix-row" style="background-color: #eee;  padding: 50px 0;">

    <div class="flix-col-md-4 flix-col-md-flix-offset-2 flix-text-center flix-animate-hover">
      <div class="flix-well">
        <i class="flix-glyphicon flix-glyphicon-heart-empty x2"></i>
        <h3 class="flix-html-h3 flix-form-group">Lorem ipsum</h3>
        <p class="flix-html-html pb_txt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>

      </div>
    </div>

    <div class="flix-col-md-4 flix-text-center flix-animate-hover">
      <div class="flix-well">
        <i class="flix-glyphicon flix-glyphicon-heart-empty x2"></i>
        <h3 class="flix-html-h3 flix-form-group">Lorem ipsum</h3>
        <p class="flix-html-html pb_txt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>

      </div>
    </div>


    <div class="flix-clearfix"></div>

  </div>
</div>
