<div class="flix-container-fluid">
  <div class="flix-row" style="margin: 50px 0;">

    <div class="flix-col-md-12 flix-text-center flix-form-group">
      <h1 class="flix-html-h1">Lorem ipsum</h1>
      <p class="flix-html-html pb_txt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
    </div>

    <div class="flix-col-md-4 flix-col-md-flix-offset-2 flix-form-group">
      <div class="flix-embed-responsive flix-embed-responsive-16by9">
        <div class="flix-embed-responsive-item">
          <img src="http://via.placeholder.com/600x338?text=Lorem+Ipsum" class="flix-img-responsive" />
        </div>
      </div>

      <div class="flix-row">

        <div class="flix-col-md-2">
          <i class="flix-glyphicon flix-glyphicon-ok x2"></i>
        </div>
        <div class="flix-col-md-10">
          <p class="flix-html-html pb_txt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
            sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>

      </div>

      <div class="flix-row">

        <div class="flix-col-md-2">
          <i class="flix-glyphicon flix-glyphicon-ok x2"></i>
        </div>
        <div class="flix-col-md-10">
          <p class="flix-html-html pb_txt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
            sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>

      </div>

    </div>

    <div class="flix-col-md-4 flix-form-group">
      <div class="flix-embed-responsive flix-embed-responsive-16by9">
        <div class="flix-embed-responsive-item">
          <img src="http://via.placeholder.com/600x338?text=Lorem+Ipsum" class="flix-img-responsive" />
        </div>
      </div>

      <div class="flix-row">

        <div class="flix-col-md-2">
          <i class="flix-glyphicon flix-glyphicon-ok x2"></i>
        </div>
        <div class="flix-col-md-10">
          <p class="flix-html-html pb_txt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
            sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>

      </div>

      <div class="flix-row">

        <div class="flix-col-md-2">
          <i class="flix-glyphicon flix-glyphicon-ok x2"></i>
        </div>
        <div class="flix-col-md-10">
          <p class="flix-html-html pb_txt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
            sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>

      </div>

    </div>


    <div class="flix-clearfix"></div>

  </div>
</div>
