<div class="flix-container-fluid flix-html-html" style="padding: 50px 0;">
<h1 class="flix-text-center flix-html-h1">Lorem ipsum</h1>
<div class="flix-text-center flix-html-html pb_txt">Lorem ipsum dolor</div>
</div>
