<div class="flix-container-fluid">
  <div class="flix-row" style="background-color: #eee; padding: 50px 0;">

    <div class="flix-col-md-4 flix-col-md-flix-offset-2">
      <div class="flix-embed-responsive flix-embed-responsive-16by9">
        <div class="flix-embed-responsive-item">
          <img src="http://via.placeholder.com/600x338?text=Lorem+Ipsum" class="flix-img-responsive" />
        </div>
      </div>
      <div class="flix-well">

        <h3 class="flix-html-h3 flix-form-group">Lorem ipsum</h3>
        <p class="flix-html-html pb_txt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
        <a href="#" class="flix-btn flix-btn-default flix-btn-block">Lorem ipsum dolor</a>
      </div>
    </div>

    <div class="flix-col-md-4">
      <div class="flix-embed-responsive flix-embed-responsive-16by9">
        <div class="flix-embed-responsive-item">
          <img src="http://via.placeholder.com/600x338?text=Lorem+Ipsum" class="flix-img-responsive" />
        </div>
      </div>
      <div class="flix-well">

        <h3 class="flix-html-h3 flix-form-group">Lorem ipsum</h3>
        <p class="flix-html-html pb_txt">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
        <a href="#" class="flix-btn flix-btn-default flix-btn-block">Lorem ipsum dolor</a>
      </div>
    </div>


    <div class="flix-clearfix"></div>

  </div>
</div>
