<div class="flix-container-fluid">
  <div class="flix-row" style="padding: 50px 0;">


    <div class="flix-col-md-8 flix-col-md-flix-offset-2">

      <div class="flix-col-md-1 flix-xs-hide flix-hidden-xs" style="font-size: 80pt;">
        &rdquo;
      </div>

      <div class="flix-col-md-11">
        <i class="flix-html-html pb_txt" style="font-size: 1.3em;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</i>
        <p class="flix-html-html">Lorem ipsum dolor sit amet</p>
      </div>

      <div class="flix-clearfix"></div>

    </div>

    <div class="flix-clearfix"></div>

  </div>
</div>
