<div class="flix-container-fluid">
  <div class="flix-row" style="margin: 60px 0 30px 0;">


    <div class="flix-col-md-8 flix-col-md-flix-offset-2">

      <div class="flix-col-md-12 flix-text-center flix-form-group">
        <h1 class="flix-html-h1">Lorem ipsum dolor sit amet</h1>
      </div>

      <div class="flix-col-md-6">

        <img src="https://via.placeholder.com/600x600?text=Lorem-Ipsum" class="flix-img-responsive " />

      </div>


      <div class="flix-col-md-6">

        <div class="flix-col-md-12 flix-form-group">

          <div class="flix-col-md-2">
            <i class="flix-glyphicon flix-glyphicon-ok x2"></i>
          </div>

          <div class="flix-col-md-10">


            <h3 class="flix-html-h3">Lorem ipsum dolor sit amet</h3>

            <p class="flix-html-html pb_txt">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo.
            </p>

          </div>

        </div>

        <div class="flix-col-md-12 flix-form-group">

          <div class="flix-col-md-2">
            <i class="flix-glyphicon flix-glyphicon-ok x2"></i>
          </div>

          <div class="flix-col-md-10">


            <h3 class="flix-html-h3">Lorem ipsum dolor sit amet</h3>

            <p class="flix-html-html pb_txt">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo.
            </p>

          </div>

        </div>

        <div class="flix-col-md-12 flix-form-group">

          <div class="flix-col-md-2">
            <i class="flix-glyphicon flix-glyphicon-ok x2"></i>
          </div>

          <div class="flix-col-md-10">


            <h3 class="flix-html-h3">Lorem ipsum dolor sit amet</h3>

            <p class="flix-html-html pb_txt">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo.
            </p>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>
