<div class="flix-container-fluid">
  <div class="flix-row" style="margin: 80px 0;">

    <div class="flix-col-md-9 flix-col-md-flix-offset-1-and-half">

      <div class="flix-col-md-4">
        <h2 class="flix-html-h2">Lorem ipsum</h2>
        <p class="flix-html-html">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
          sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
          duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
      </div>

      <div class="flix-col-md-8">
        <img src="https://via.placeholder.com/800x400?text=Lorem-Ipsum" class="flix-img-responsive" />
      </div>

    </div>

  </div>
</div>
