<div class="flix-container-fluid flix-html-html" style="padding: 50px 0; background-color:#717C80; color: #fff;">
  <h1 class="flix-text-center flix-html-h1">Lorem ipsum</h1>
  <div class="flix-text-center pb_txt">Lorem ipsum dolor</div>
</div>
